body {
	background-image: url("../img/1.jpg");
	background-size: cover;
}

.logo {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 200px;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 0px;
}

.button{
	width: 260px;
	height: 50px;
	margin: auto;
	margin-left: 530px;
	margin-right: 600px;
}

button {
	width: 260px;
	height: 50px;
	border-radius: 30px;
	border-color: #3d5a98;
	background-color: #3d5a98;
	outline: none;
	float: bottom;
	margin-right: 70px;
}

.button img {
	float: left;
	margin-top: 7px;
}

.button p{
	font-size: 18px;
	color: white;
	float: left;
	padding-top: 9px;

}

.p p {
	font-size: 16px;
}

.p a {
	font-weight: bold;
}
